#tinymce span.shortcode-highlighter-container {
    padding: 4px;
    border-width:2px;
    border-style:solid;    
    font-size:15px;
    font-weight: bold;
    margin: 0 5px;
    font-family: 'Courier New'
}
